<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <div>
            <button id="reset">Vaciar carrito</button>
        </div>
        <section class="producto">
            <img src="" alt="">
            <p>Camiseta Argentina - Talle L</p>
            <button class="menos-mas">-</button><span class="cantidad-articulos">1</span><button class="menos-mas">+</button>
            <p>$10000</p>
            <button>Desplegar</button>
        </section>
        <section class="envio">
            <p>Envío</p>
            <input class="datos-ubicacion" placeholder="Dirección" type="search" name="barra-busqueda"/>
            <input class="datos-ubicacion" placeholder="Código postal" type="search" name="barra-busqueda"/>
            <p>$200</p>
        </section>
        <section class="pago">
            <p>Forma de pago</p>
            <input type="radio" name="formaPago" id="credito">Tarjeta de crédito
            <input type="radio" name="formaPago" id="debito">Tarjeta de débito
            <input type="radio" name="formaPago" id="transferencia">Depósito o transferencia
        </section>
        <div>
            <p>$10200</p>
            <button id="comprar" type="submit">Comprar</button>
        </div>
    </main>
    <footer></footer>
</body>
</html>