*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

header{
    background-color: #63bbf2;
    display: flex;
    justify-content: center;
    padding: 3%;
}

.menu-hamburguesa{
    width: 30%;
    text-align: left;
}

.logo-header{
    width: 39%;
    text-align: center;
}

.carritoFavoritos{
    display: none;
}

.barra-busqueda{
    width: 25%;
    text-align: right;
    display: flex;
    align-items: center;
    border-bottom: #333 solid 1px;
}

.barra-busqueda input{
    width: 70%;
    background-color: #63bbf2;
    border: none;
}

.barra-busqueda button {
    width: 30%;
    background-color: #63bbf2;
    border: none;
}

.iconoPerfil {
    width: 6%;
    text-align: right;
}

nav {
    display: none;
}

footer{
    display: flex;
    padding: 5%;
    background-color: #333;
    color: #fff;
}

.logo{
    width: 40%;
}

.logo i{
    font-size: 5rem;
}

.informacion-footer{
    width: 60%;
}

.redes{
    display: flex;
    margin-bottom: 4%;
}

.redes a{
    width: 20%;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.informacion-footer p{
    margin: 2% 0;
}

@media (min-width: 769px){
    header{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 2%
    }

    
    .menu-hamburguesa {
        display: none;
    }

    .logo-header {
        width: 10%;
        font-size: 4rem;
    }

    .barra-busqueda {
        width: 40%;
        order: 2;
    }

    .barra-busqueda input {
        width: 90%;
    }

    .barra-busqueda button {
        width: 10%
    }

    .iconoPerfil {
        width: 4%;
        order: 3;
        font-size: 1.5rem;
    }

    .carritoFavoritos {
        display: inline-block;
        width: 6%;
        order: 4;
        text-align: right;
        font-size: 1.5rem;
    }
    
    nav {
        display: inline-block;
        width: 40%;
        order: 1;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    nav ul li {
        width: 20%;
    }

    nav ul li a {
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        color: #000;
    }

    .logo i {
        font-size: 8rem;
    }
    
    .redes {
        margin-bottom: 7%;
    }

    .redes a {
        font-size: 2rem;
    }

    .informacion-footer p {
        font-size: 1.5rem;
    }
}