<footer>
    <div class="logo">
      <i class="fas fa-futbol"></i>
    </div>
    <div class="informacion-footer">
      <div class="redes">
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fas fa-map-marker-alt"></i></a>
      </div>
      <p>Preguntas frecuentes</p>
      <p>Formas de envío</p>
    </div>
  </footer>