<header>
    <div class="menu-hamburguesa">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo-header">
      <i class="fas fa-futbol"></i>
    </div>
    <form action="/" method="get" class="barra-busqueda">
      <input type="text" name="buscador" id="buscador" class="buscador" placeholder="Buscar">
      <button type="submit" class="lupa"><i class="fa fa-search"></i></button>
    </form>
    <div class="iconoPerfil">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="carritoFavoritos">
            <i class="fas fa-shopping-cart"></i>
            <i class="far fa-heart"></i>
    </div>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="../products">Productos</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Redes</a></li>
    </ul>
  </nav>
</header>