<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head', {styles: ["login-register"]}) %>

    <body>
      <%-include('../partials/header') %>
      <main>
        <div class="panel">
          <h2>Panel de cuenta</h2>
        </div>
        <section class="formularios">
          <form method="POST" action="/users/login">
            <h3>Ingresar</h3>
            <div>
              <input placeholder="Correo electrónico" type="email" name="email" id="email">
            </div>
            <div>
              <input placeholder="Contraseña" type="password" name="password" id="password">
            </div>
            <div>
              <button>Ingresar con Google</button>
              <button type="submit">Iniciar Sesión</button>
            </div>
            <div class="olvidaste">
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
          </form>
          </section>
        </main>
          <%-include('../partials/footer') %>
</body>
</html>