<!DOCTYPE html>
<html lang="es">

<%-include('../partials/head', {styles: ["login-register"]}) %>

<body>
  <%-include('../partials/header') %>
  <main>
    <div class="panel">
      <h2>Panel de cuenta</h2>
    </div>
    <section class="formularios">
      <form method="POST" action="/users/register" enctype="multipart/form-data">
        <div>
        <h3>Registrate</h3>
      </div>
        <div>
          <input placeholder="Nombre" type="text" name="fullName">
        </div>
        <div>
          <input placeholder="Correo electrónico" type="email" name="email">
        </div>
        <div>
          <input placeholder="Contraseña" type="password" name="password">
        </div>
        <div>
          <input type="file" accept="image/*" name="avatar">
        </div>
        <div>
          <button>Registrarse con Google</button>
          <button type="submit">Registrarse</button>
        </div>
    </form>
  </section>
  </main>
  <%-include('../partials/footer') %>
</body>

</html>